        /* Police pour le site */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Style pour mainBar */
        .mainBar {
            background-color: black; /* Fond noir */
            color: white; /* Texte blanc par défaut */
            display: flex;
            width: 100%;
            align-items: center;
            padding: 5px;
        }

        /* Style pour mainLogo */
        .mainLogo {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .mainLogo img {
            height: 50px;
            margin-right: 10px;
        }

        .mainLogo h1 {
            font-size: 24px;
            margin: 0;
        }

        /* Style pour mainNavBar */
        .mainNavBar {
            flex: 2;
            display: flex;
            justify-content: center;
        }

        .mainNavBar ul {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
        }

        .mainNavBar li {
            margin: 0 10px;
        }

        .mainNavBar a {
            color: white;
            text-decoration: none;
        }

        /* Style pour mainSearchBar */
        .mainSearchBar {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            background-color: white;
            padding: 5px 20px;
            height: 95%;
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .mainSearchBar input {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
            color: blue;
            border: none;
        }

        .mainSearchBar input::placeholder {
            color: blue;
        }

        .mainSearchBar button {
            margin-left: 5px;
            background-color: blue;
            color: white;
            padding: 5px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .mainContainer {
            background-image: url('./travel-agency-background.webp');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: row;
        }

        /* Contenu principal */
        .mainHome {
            flex: 50;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
            padding: 20px;
        }

        .mainHome h1, .mainHome p {
            width: 40%; /* Limite la largeur à 40% */
        }

        .mainHome h1 {
            font-size: 5rem;
        }

        .mainHome p {
            font-size: 1.5rem;
        }

        .mainHome button {
            padding: 10px 20px;
            background-color: blue;
            opacity: 0.6;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            align-self: flex-start;
            font-size: 2rem;
        }

        .mainHome button:hover {
            opacity: 1;
        }

        /* Style pour la barre des réseaux sociaux */
        .socialMediaBar {
            flex: 1;
            display: flex;
            flex-direction: column-reverse;
            padding: 10px;
        }

        .socialMediaBar a {
            display: block;
            margin: 10px 0;
            text-decoration: none;
            color: white;
            font-size: 24px;
        }

        .socialMediaBar a:hover {
            color: blue;
        }

        .aboutUsContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .aboutUsContainer p {
            width: 90%;
        }

        .teamContainer {
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .teamMembers {
            flex:4;
            display: flex;
            gap: 10px;
        }

        .teamMembers h1, .teamMembers p {
            width: 100%;
        }

        .teamMemberContainer {
            display: flex;
            flex-direction: row;
            background-color: rgba(0, 0, 255, 0.2); /* Bleu avec 50% de transparence */;
            padding: 10px;
        }

        .teamMemberImage {
            flex: 1;
            display:flex;
            flex-direction: column;
        }

        .teamMemberImage .memberImage {
            width: 100%; /* L'image prendra toute la largeur du conteneur image */
        }

        .teamMemberInfo {
            flex: 5;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }

        .teamMemberInfo p {
            font-size: 1rem;
            width: 100%;
        }

        .teamMemberInfo .jobTitle {
            background-color: blue;
            border: 1px;
            border-radius: 5px;
            text-align: center;
        }

        .contactUsContainer {
            display:flex;
            flex-direction: row;
            width:100%;
        }

        .contactUsContainer h1, .contactUsContainer p {
            width: 100%;
        } 

        .contactUsTitle {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .contactUsForm {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .contactUsForm label, .contactUsForm input, .contactUsForm textarea {
            display:block;
            margin-bottom: 10px;
        }

        .contactUsForm input, .contactUsForm textarea {
            background-color: transparent; /* Fond transparent */
            border: 1px solid white; /* Bordure blanche fine */
            color: white; /* Texte blanc */
            padding: 10px; /* Espacement interne */
        }

        .contactUsForm input::placeholder, .contactUsForm textarea::placeholder {
            color:white; /* Couleur du placeholder en blanc */
            opacity: 1; /* Assure que la couleur est pleinement appliquée */
        }

        .contactUsForm button {
            padding: 10px 20px;
            background-color: blue;
            opacity: 0.6;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            align-self: center;
            flex-grow: 1;
            width: 100%;
            font-size: 1rem;
        }

        .contactUsForm button:hover {
            opacity: 1;
        }